html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  background-image: url("background.png");
}

hr {
  border: 5px solid black;
  border-radius: 5px;
  width: 80%;
}

h2 {
  padding: 0%;
}

.lbdata {
  float: left;
  width: 50%;
}
.tracks {
  float: left;
  width: 50%;
}
.averages {
  float: left;
  width: 50%;
}
.leaderboard {
  float: left;
  width: 50%;
}
